<ngx-page-outlet [header]="'Exercise'">
  <form [formGroup]="formGroup">
    <div class="col-md-12 col-lg-12 col-xxxl-6">
      <ngx-image-upload
        [radius]="50"
        [required]="false"
        (onUpload)="uploadImage($event)"
        formControlName="image">
      </ngx-image-upload>
    </div>
    <ngx-input-text
      [name]="'username'"
      [label]="'Username'"
      [required]="true"
      formControlName="username">
    </ngx-input-text>
    <ngx-input-currency
      [name]="'currency'"
      [label]="'Currency'"
      [required]="true"
      formControlName="currency">
    </ngx-input-currency>
    <ngx-datepicker
      [name]="'date'"
      [label]="'Date'"
      [required]="true"
      formControlName="date">
    </ngx-datepicker>
    <ngx-checkbox
      [name]="'checkbox'"
      [label]="'Checkbox'"
      [required]="true"
      [data]="dataCheckbox"
      formControlName="checkbox">
    </ngx-checkbox>
    <ngx-radio
      [name]="'radio'"
      [label]="'Radio'"
      [data]="dataRadio"
      [required]="true"
      formControlName="radio">
    </ngx-radio>
    <ngx-select
      [name]="'select'"
      [label]="'Select'"
      [required]="true"
      [items]="dataSelect"
      formControlName="select">
    </ngx-select>
    <ngx-textarea
      [name]="'textarea'"
      [label]="'Textarea'"
      [minLength]="minLength"
      [required]="true"
      formControlName="textarea">
    </ngx-textarea>
    <ngx-ckeditor
      [name]="'ckeditor'"
      [label]="'CKEditor'"
      [required]="true"
      formControlName="ckeditor">
    </ngx-ckeditor>
    <ngx-tiny-mce
      [name]="'tinyMCE'"
      [label]="'TinyMCE'"
      [required]="true"
      formControlName="tinyMCE">
    </ngx-tiny-mce>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <button
          type="submit"
          nbButton
          status="primary"
          (click)="onSubmit()"
          [disabled]="formGroup.invalid">
          Submit
        </button>
      </div>
    </div>
  </form>
</ngx-page-outlet>
