/*
custom bootstrap table theme
*/

.ngx-datatable.ngx {
    box-shadow: none;
    font-size: 13px;
    .datatable-header {
      height: unset !important;
      .datatable-header-cell {
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: 1px solid #d1d4d7;
        .datatable-header-cell-label {
          line-height: 24px;
        }
        .datatable-checkbox input[type='checkbox']:checked:before {
          transform: rotate(-45deg);
          height: 0.5rem;
          border-color: #36f;
          border-top-style: none;
          border-right-style: none;
        }
      }
      .datatable-row-left {
        background-color: #fff;
        background-position: 100% 0;
        background-repeat: repeat-y;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==);
      }      
      .datatable-row-right {
        background-color: #fff;
        background-position: 0 0;
        background-repeat: repeat-y;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==);
      }
    }
    .datatable-body {
      .datatable-body-row {
        vertical-align: top;
        &.datatable-row-even {
          background-color: #f2f2f2;
          .datatable-row-left {
            background-color: #f2f2f2;
          }      
          .datatable-row-right {
            background-color: #f2f2f2;
          }
        }
        &.datatable-row-odd {
          .datatable-row-left {
            background-color: #fff;
          }      
          .datatable-row-right {
            background-color: #fff;
          }
        }
        .datatable-row-left {
          background-position: 100% 0;
          background-repeat: repeat-y;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==);
        }      
        .datatable-row-right {
          background-position: 0 0;
          background-repeat: repeat-y;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==);
        }
        &.active {
          background-color: #3366ff;
          color: #fff;
          .datatable-row-left {
            background-color: #3366ff;
          }      
          .datatable-row-right {
            background-color: #3366ff;
          }
        }
        &:hover,
        &:hover .datatable-row-group {
          cursor: pointer;
          border-bottom: 0.025rem solid #7899ff;
          transition-property: background;
          transition-duration: 0.3s;
          transition-timing-function: linear;
        }
        .datatable-body-cell {
          padding: 0.75rem;
          text-align: left;
          vertical-align: top;
          .datatable-checkbox input[type='checkbox']:checked:before {
            transform: rotate(-45deg);
            height: 0.5rem;
            border-color: #36f;
            border-top-style: none;
            border-right-style: none;
          }
        }
      }
      .empty-row {
        $alert-padding-y: 0.75rem !default;
        $alert-padding-x: 1.25rem !default;
        position: relative;
        padding: $alert-padding-y $alert-padding-x;
        margin-bottom: 0;
      }
      .progress-linear {
        display: block;
        position: relative;
        width: 100%;
        height: 5px;
        padding: 0;
        margin: 0;
        position: absolute;

        .container {
          display: block;
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 5px;
          -webkit-transform: translate(0, 0) scale(1, 1);
          transform: translate(0, 0) scale(1, 1);
          background-color: rgb(170, 209, 249);
  
          .bar {
            transition: all 0.2s linear;
            -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
            animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);

            transition: -webkit-transform 0.2s linear;
            transition: transform 0.2s linear;
            background-color: rgb(16, 108, 200);

            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 5px;
          }
        }
      }
    }
    .datatable-footer {
      background: #f2f2f2;
      color: #5a5a5a;
      margin-top: -1px;
      .page-count {
        padding: 0.7rem;
      }
      .datatable-pager {
        margin: 0 10px;
        vertical-align: top;
        ul {
          li {
            margin: 10px 0px;
            &:not(.disabled) {
              &.active,
              &:hover {
                a {
                  background-color: #c1c1c1;
                  font-weight: bold;
                }
              }
            }
          }
        }
        a {
          height: 22px;
          min-width: 24px;
          line-height: 22px;
          padding: 0;
          border-radius: 3px;
          margin: 0 3px;
          text-align: center;
          vertical-align: top;
          text-decoration: none;
          vertical-align: bottom;
          color: #5a5a5a;
        }
        .datatable-icon-left,
        .datatable-icon-skip,
        .datatable-icon-right,
        .datatable-icon-prev {
          line-height: 27px;
          padding: 0 0.2rem;
        }
      }
    }
    // Summary row styles
    .datatable-summary-row {
      .datatable-body-row {
        .datatable-body-cell {
          font-weight: bold;
        }
      }
    }
}
  